@import 'config';
@import 'menu';



*{box-sizing: border-box;}

body{
  @include background;
  background-color: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;

}
//Hedings
h1,
h2,
h3{
  margin: 0;
  font-weight: 400;

  &.lg-heading{
    font-size:6rem;
  }
  &.sm-heading{
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background:rgba( lighten($primary-color, 2),0.5);
  }
}

h6{
  margin: 0;
  font-weight: 400;
  font-size: 1rem;

}

a{
  color:#fff;
  text-decoration: none;
}

header{
  position: fixed;
  z-index: 2;
  width:100%;
}

.text-secondary{
  color: $secondary-color;
}

main{
  padding:4rem;
  height: 100%;

  .icons{
    margin-top: 1rem;

    a{
      padding: 0.4rem;

      &:hover{
        color: $secondary-color;
        @include easeOut();
        
      }
    }
  }
  &#home{
    overflow:hidden;
    h1{
      margin-top: 20vh;
    }
  }

}

.about-info{
  display:grid;
  grid-gap: 10px;
  grid-column-gap: 30px;
  grid-template-areas: 
  "bioimage bio bio bio"
  "prog edu   edu     .  "
  "prog edu1 edu1 edu1"
  "prog edu2 edu2 edu2"
  "prog edu3 edu3 edu3"
  "prog work work ."
  "prog job1 job1 job1"
  "prog job2 job2 job2"
  "prog job3 job3 job3"
  "prog job4 job4 job4"
  ". job5 job5 job5"
  ". job6 job6 job6"
  ". . . .";

  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(10px, auto);
}

.bio{
  grid-area: bio;
  font-size: 1.5rem;
}

.bio-image{
  grid-area: bioimage;
  margin: auto;
  border-radius: 50%;
  border: $secondary-color 3px solid;
  width:250px;
  height: 220px;
}

.head-w{
  grid-area: work;
  color:$secondary-color;
  margin-top: 2rem ;
  text-transform: uppercase;
}

.head-edu{
  grid-area: edu;
  color:$secondary-color;
  text-transform: uppercase;
}

.head-prog{
  grid-area: progh;
  color:$secondary-color;
  text-transform: uppercase;
}

.job-1{
  grid-area:job1;
}
.job-2{
  grid-area:job2;
}
.job-3{
  grid-area:job3;
  
}

.job-4{
  grid-area:job4;
  
}

.job-5{
  grid-area:job5;
  
}

.job-6{
  grid-area:job6;
  border-bottom: $secondary-color 5px solid;
}

.edu-1{
  grid-area:edu1;
}

.edu-2{
  grid-area:edu2;
}

.edu-3{
  grid-area:edu3;
  border-bottom: $secondary-color 5px solid;
}



.job{
  background: lighten( $primary-color , 5);
  padding: 0.5rem;
 /* border-bottom: $secondary-color 5px solid;*/
  

 /* &:hover{
    border: $secondary-color 5px double;
  }*/
}

.prog{
  grid-area:prog;
  text-align: left;
  margin-bottom: -20px;

  border: $secondary-color 5px solid;
  
  
}
.prog ul{
  list-style-type: none;
  margin-left: 2rem;
//  text-align: center;
}

//.prog li{
 // text-align: center;
 // display: inline-block;
//}

.prog h2{
  text-transform: uppercase;
  color: $secondary-color;
  
}

.spoken{
  border-top: $secondary-color 2px solid;
}

.spoken h2{
  margin-top:1rem;
}

h3{
    color:$secondary-color;
  }

// Work/projects

.projects{
  display:grid;
  grid-template-columns: repeat(3,1fr);
 // grid-template-rows: repeat(2,1fr);
  grid-column-gap: 0.7rem;

  /*
  grid-template-areas: 

  "it1 it2 it3 it4"
  "it5 . . .";

  .item1{
    grid-area: it1;
  }

  .item2{
    grid-area: it2;
  }

  .item3{
    grid-area: it3;
  }

  .item4{
    grid-area: it4;
  }

  .item5{
    grid-area: it5;
  }
*/

  img{
    width: 100%;
    border:3px solid #000;

    &:hover{
      border:3px solid $secondary-color;
      opacity: 0.5;
      @include  easeOut;
    }
  }
}

//btn style

.btn{
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
  &:hover{
    background-color: $secondary-color;
    color: set-text-color($secondary-color);
  }
}
.btn-dark{

  @extend .btn;
  background-color: darken($primary-color,50);
  color:#fff;

  }

.btn-ligth{
  @extend .btn;
  background-color: lighten($primary-color,50);
  color:#000;

}

.btn-text{
 // @extend .btn;
  background-color: ligthen($primary-color,100);
  color:#fff;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
  
}

@import 'mobile';